# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [12]:
# for keyword, counter/iterator variable, in keyword, object

# looping through a range
#              start stop step 
for i in range(10, 100, 10):
    print(i)
    
print('\n')
    
name = "Bulbasaur"

# looping by value
for letter in name:
    print(letter)
    
print('\n')

# len() which returns the length of an iterable/object
length = len(name)
print(length)

# loop by index
#                  9
for i in range(len(name)):
    print(name[i], "at index", i)

10
20
30
40
50
60
70
80
90


B
u
l
b
a
s
a
u
r


9
B at index 90
u at index 90
l at index 90
b at index 90
a at index 90
s at index 90
a at index 90
u at index 90
r at index 90

##### Using 'in' keyword

In [16]:
#in is what accesses the items in an iterable
# double each number from 0 to 15
for num in range(15):
    print(num*2)
    
book = "The Two Towers"

if "T" in book:
    print("totally tubular")
else:
    print("no")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
totally tubular

##### Continue Statement

In [15]:
#continue will skip over an item in an iterable based on a condition
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)
    
for i in range(20):
    if i == 5 or i == 6:
        continue
    else:
        print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
my_list = [100, 90, 43, 102, 1123, 3, 10, 1000]
for num in my_list:
    if num < 100:
        print(num)

90
43
3
10

##### Break Statement

In [26]:
# break out of current loop
for i in range(10):
    if i == 4:
        break
    print(i)

SyntaxError: invalid syntax (136699741.py, line 2)

##### Pass Statement

In [38]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass # todo: comeback and do stuff here later

def add_to_cart():
    pass
    

def checkout():
    pass


def thank_the_cashier():
    pass

print("hello")

hello

##### Double For Loops

In [40]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [41]:
my_list = [1, 2, 3, 4, 5, 6]
for num in my_list:
    for num2 in my_list:
        print(num + num2)

2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10
6
7
8
9
10
11
7
8
9
10
11
12

### While Loops

In [52]:
#while keyword, condition statement
#while loop will run based on the condition statement
counter = 0
while counter < 11:    
    print(counter, "before incrementation")
    counter += 1
    print(counter, "after incrementation")

0 before incrementation
1 after incrementation
1 before incrementation
2 after incrementation
2 before incrementation
3 after incrementation
3 before incrementation
4 after incrementation
4 before incrementation
5 after incrementation
5 before incrementation
6 after incrementation
6 before incrementation
7 after incrementation
7 before incrementation
8 after incrementation
8 before incrementation
9 after incrementation
9 before incrementation
10 after incrementation
10 before incrementation
11 after incrementation

##### looping 'While True'

In [57]:
# true as a condition for while loop to run
# True
# False
counter = 0
while True:   
    print(counter)
    counter +=1    
    if counter == 5:
        break

0
1
2
3
4

In [58]:
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [67]:
# using a boolean as a flag to run a while
game = True # flag ðŸš©
my_list = [2, 5, 4, 7, 6]
i = 0
while game: # same thing as saying while True
    if my_list[i] == 4:
        game = False     
    print(my_list[i])
    i+=1

2
5
4

##### While & For Loops Used Together

In [69]:
j = 0

while j < 10:
    print(f"while loop iteration: {j}")
    
    for num in range(j):
        print(f"For loop iteration: {num}")
        
    j+=1

while loop iteration: 0
while loop iteration: 1
For loop iteration: 0
while loop iteration: 2
For loop iteration: 0
For loop iteration: 1
while loop iteration: 3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
while loop iteration: 4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
while loop iteration: 5
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
while loop iteration: 6
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
For loop iteration: 5
while loop iteration: 7
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
For loop iteration: 5
For loop iteration: 6
while loop iteration: 8
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
For loop iteration: 5
For loop iteration: 6
For loop iteration: 7
while loop iteration: 9
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
For loop iteration: 5
For loop iteration: 6
For loop iteration: 7
For loop iteration: 8

##### The Range Function

In [73]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
# range(stop)
for num in range(10):
    print(num)

print("\n")
# range(start, stop)
for num in range(10, 25):
    print(num)
    
print("\n")
# range(start, stop, step)
for num in range(10, 100, 5):
    print(num)

0
1
2
3
4
5
6
7
8
9


10
11
12
13
14
15
16
17
18
19
20
21
22
23
24


10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

### String Manipulation Exercise

In [74]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for x in names:
    print(x.strip().title())

Connor
Max
Evan
Jordan

In [75]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for n in names:
    new_name=n.strip().lower().title() #dont need lower because title handles capitalizing the first letter and 
    #lowering everything else
    print(new_name)

Connor
Max
Evan
Jordan

In [76]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

In [98]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for i in names:
    print(i)
    new_name = i.strip().title()
    print(new_name)

#     print(names.title())
#     print(names.strip())

    coNNor
Connor
max
Max
 EVan
Evan
JORDAN
Jordan
JORDAN

## Lists

##### Declaring Lists

In [85]:
# [] is a list, anything wrapped in [] is a list of that thing or things
#declaring an empty list
our_list = []
print(our_list)
names = ['Ryan', "Juan", "Ben", "Connor", "Miguel"]
numbers = [1, 2, 3, 4, 5, 6]

stuff = ["Ryan", "Boba Fett", 3, 5, 6, 5.3, [1, 2, 3, 4]]

print(names)
print(numbers)
print(stuff)

[]
['Ryan', 'Juan', 'Ben', 'Connor', 'Miguel']
[1, 2, 3, 4, 5, 6]
['Ryan', 'Boba Fett', 3, 5, 6, 5.3, [1, 2, 3, 4]]

##### Indexing a List

In [95]:
# we index into a list with [] following list name -- > our_list[0]
# index 0 is always the first position in a list
#          0     1       2       3        4        5          6 
names = ["Liz",'Ryan', "Juan", "Ben", "Connor", "Miguel", "Grace"]
print(names[0])
# -1 is always the last position in a list
print(names[-1])
print(len(names))
print(names[0], "at index 0")
print(names[1], "at index 1")
print(names[2], "at index 2")
print(names[3], "at index 3")
print(names[4], "at index 4")
print(names[5], "at index 5")
print(names[6], "at index 6")
print('\n')

for i in range(len(names)):
    print(i)
    print(names[i])

Liz
Grace
7
Liz at index 0
Ryan at index 1
Juan at index 2
Ben at index 3
Connor at index 4
Miguel at index 5
Grace at index 6


0
Liz
1
Ryan
2
Juan
3
Ben
4
Connor
5
Miguel
6
Grace

In [108]:
# [start: stop: step] --> last item [-1]
# LIST SLICING
names = ["Liz",'Ryan', "Juan", "Ben", "Connor", "Miguel", "Grace"]
# single index
print(names[4])

# print starting at index 1 and go to the end of the list
print(names[1:])

# start at the beginning and go to a specified index
print(names[:3])

# starting at index 1 and stepping by 2 through the list
# print(names[1::2])
new_names = names[1::2]
print(new_names)

# reverse a list
print(names[::-1])

Connor
['Ryan', 'Juan', 'Ben', 'Connor', 'Miguel', 'Grace']
['Liz', 'Ryan', 'Juan']
['Ryan', 'Ben', 'Miguel']
['Grace', 'Miguel', 'Connor', 'Ben', 'Juan', 'Ryan', 'Liz']

### List Methods

##### .append()

In [114]:
# append adds a new item to the end of the list
# our_list.append(thing_to_append)
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
print(names)
names.append("Kym")
print(names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']
['Grace', 'Justin', 'Michael', 'Connor', 'Wil', 'Kym']

##### .insert()

In [115]:
#our_list.insert(index, value)
print(names)
names.insert(3, "Bikram")
print(names)

# names2 = names.insert(4, "Berik")
# print(names2) <-- this returns nothing

['Grace', 'Justin', 'Michael', 'Connor', 'Wil', 'Kym']
['Grace', 'Justin', 'Michael', 'Bikram', 'Connor', 'Wil', 'Kym']

##### .pop()

In [118]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
# my_list.pop(<optional index>)

name = names.pop(2)
print(name)
print(names)

# removes last item by default
name2 = names.pop()
print(name2)
print(names)

Bikram
['Grace', 'Justin', 'Connor', 'Wil', 'Kym']
Kym
['Grace', 'Justin', 'Connor', 'Wil']

##### .remove()

In [122]:
# value to be removed, not an index
# my_list.remove(value to be remove)

names.remove("Connor")
print(names)

ValueError: list.remove(x): x not in list

### Working With Lists

##### del()

In [124]:
# index to be removed, not value 
del (names[0])

print(names)

['Justin', 'Wil']

##### min()

In [125]:
# return the smallest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(min(numbers))

0

##### max()

In [126]:
# returns largest item in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(max(numbers))

234

##### sum()

In [127]:
# return the sum of all numbers in a list
numbers = [5, 6, 12, 6, 7, 234, 1, 0, 2]
print(sum(numbers))

273

##### sorted()

In [128]:
#sorted will return a new sorted list, create a new variable
sorted_nums = sorted(numbers)
print(sorted_nums)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [129]:
#.sort() will sort the original list
numbers.sort()
print(numbers)

[0, 1, 2, 5, 6, 6, 7, 12, 234]

##### Copying a List

In [130]:
# [:] copies a list, doesn't alter original'
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
more_names = names[:]
print(more_names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']

##### Looping Through Lists

In [139]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# looping by value
print("looping by value")
for name in names:
    print(name)
print("\n")

print("looping by index")
# looping by index
for i in range(len(names)):
    print(names[i])


print("\n")
print("looping with enumerate")
# looping with enumerate
for i, value in enumerate(names):
    print(i, value)
    
    
for i in enumerate(names):
    print(i)

looping by value
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


looping by index
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


looping with enumerate
0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu
(0, 'Han Solo')
(1, 'Leia Organa')
(2, 'Luke Skywalker')
(3, 'Lando Calrissian')
(4, 'Mace Windu')

##### 'in' keyword

In [140]:
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
if "Grace" in names:
    print("Hello Grace!")
else:
    "There is no grace :("

Hello Grace!

##### 'not in' keyword

In [141]:
names = ["Grace", "Justin", "Michael", "Connor", "Wil"]
if "Ryan" not in names:
    print("Well that doesnt sound like a very good time")
else:
    print("Oh yay")

Well that doesnt sound like a very good time

##### Checking an Empty List

In [144]:
# declaring an empty list
l_1 = []

if l_1 == []:
    print("Would ya just look at that empty list.")
print(l_1)

Would ya just look at that empty list.
[]

##### Removing Instances with a Loop

In [146]:
#while, remove
names = ["Grace", "Justin", "Michael", "Michael", "Connor", "Wil"]
for name in names:
    if name == "Michael":
        names.remove(name)
print(names)

names = ["Grace", "Justin", "Michael", "Michael", "Connor", "Wil"]
while "Michael" in names:
    names.remove("Michael")
print(names)

['Grace', 'Justin', 'Michael', 'Connor', 'Wil']
['Grace', 'Justin', 'Connor', 'Wil']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [148]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [149]:
empty_list = [] #empty list
for i in names: #loop through
    if i in empty_list:
        continue
    empty_list.append(i)
print(empty_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [150]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# initializing list
# test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
    + str(names))

# using set() to remove duplicated from list
names = list(set(names))

# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
    + str(names))

The original list is : ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
The list after removing duplicates : [2, 3, 'bob', 4, 'kevin', 'max', 'evan', 'connor']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, iterable, condition]
```

In [187]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums2 = [x for x in nums]
print(nums2)

nums2 = []
for x in nums:
    nums2.append(x)
print(nums2)

[2, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 5, 6, 7, 8, 9, 10]

In [155]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_square = [x**2 for x in nums]
print(nums_square)

[4, 16, 25, 36, 49, 64, 81, 100]

In [156]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_square = [x**2 for x in nums if x % 2 == 0]
print(nums_square)

nums3 = []
for num in nums:
    if num % 2 == 0:
        nums3.append(num**2)

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [173]:
# immutable meaning the contents of the tuple cannot be altered in anyway
tup_1 = (1, 2, 3)
tup_2 = 1, 2, 3
print(tup_2)
print(tup_1)

print(tup_1[1])

for num in tup_2:
    print(num)
    
print(type(tup_1))


print(len(tup_2))

(1, 2, 3)
(1, 2, 3)
2
1
2
3
<class 'tuple'>
3

##### sorted()

In [174]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))

new_tup = tuple(sorted(tup))
print(new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [177]:
print(tup)

tup = tup + (6, 5 )

print(tup)

(20, 5, 1, 10, 95, 123, 6, 6, 5)
(20, 5, 1, 10, 95, 123, 6, 6, 5, 6, 5)

In [183]:
# List Concatenation

# refresher on string concatenation
my_string1 = "Hello"
my_string2 = "There"
my_string3 = my_string1 + " " + my_string2
print(my_string3)


my_list1 = [1,2,3,4,5]
my_list2 = [6,7,8,9,10]

my_list3 = my_list1 + my_list2
print(my_list3)

Hello There
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>